* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #171717;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #2a2929;
}
.navbar-brand {
  color: #cbae88;
  font-size: 1.6rem;
}
.navbar-brand:hover {
  color: #FFF;
  transition: 0.2s;
}
.navbar-toggler {
  color: #cbae88;
  width: 70px;
  border: none !important;
}
.navbar.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-link {
  color: #cbae88;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #fff;
  transition: 0.2s;
}

.footer {
  position: fixed;
  bottom: 0px;
  background-color: #2a2929;
  padding: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
.footer__list {
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  gap: 40px;
  font-size: 1.125rem;
  margin-top: 20px;
  margin-right: 40px;
}
.footer__list a {
  color: #D7C8B6;
}
.footer__list a:hover {
  color: #FFF;
  transition: 0.3s;
}
.footer .footer__Licencia {
  color: #D7C8B6;
  font-size: 0.625rem;
  padding: 10px;
  margin-left: 20px;
}

@media (max-width: 415px) {
  .footer {
    position: relative;
  }
}
@media only screen and (min-width: 416px) and (max-width: 769px) {
  .footer {
    position: relative;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .footer {
    position: relative;
  }
}
@media only screen and (min-width: 1360px) and (max-width: 1800px) {
  .footer {
    position: relative;
  }
}
/*SECCION INDEX*/
.inicio {
  display: flex;
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  padding: 10px 10px;
  justify-content: space-around;
}
.inicio__contenido h1 {
  font-size: 3rem;
  color: #cbae88;
  text-align: start;
  margin-top: 80px;
}
.inicio__h1edit {
  color: #D7C8B6;
  font-style: bold;
}
.inicio__contenido h2 {
  font-size: 2rem;
  color: #F6E3CA;
  margin-top: 100px;
}
.inicio__compu {
  display: flex;
  background-color: #F6E3CA;
  border-radius: 100px;
}
.inicio__compu img {
  width: auto;
  border-radius: 100px;
  padding: 10px;
}
.inicio__compu img:hover {
  filter: brightness(0.5);
  transition: 1s;
}

@media (max-width: 415px) {
  .inicio {
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  .inicio__contenido {
    width: 90%;
  }
  .inicio__contenido h1 {
    width: 95%;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
  }
  .inicio__contenido h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .inicio__compu {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 3px;
    width: 350px;
    height: 225px;
    border-radius: 100px;
  }
  .inicio__compu img {
    width: 350px;
    height: fit-content;
    border-radius: 100px;
  }
}
/*SECCION SOBREMI*/
.sobremi {
  display: flex;
  background-color: #2a2929;
  width: auto;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 120px;
  border-radius: 15px;
  padding: 10px 10px;
  justify-content: space-around;
}
.sobremi__texto h1 {
  width: auto;
  text-align: center;
  font-size: 25px;
  color: #cbae88;
  padding: 20px 20px;
}
.sobremi__texto h2 {
  width: auto;
  text-align: center;
  font-size: 25px;
  color: #cbae88;
  padding: 20px 20px;
}
.sobremi__texto p {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  color: #D7C8B6;
  padding: 20px 20px;
  border-radius: 15px;
  background-color: #171717;
  text-align: justify;
}
.sobremi__texto p {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  color: #D7C8B6;
  padding: 20px 20px;
  border-radius: 15px;
  background-color: #171717;
  text-align: justify;
}
.sobremi__fondoimagen {
  background-color: #171717;
  border-radius: 18px;
}
.sobremi__fondoimagen img {
  width: auto;
  margin: auto;
  margin-left: 20px;
  border-radius: 30px;
  filter: brightness(0.8);
}
.sobremi__fondoimagen:hover {
  filter: brightness(0.5);
  transition: 1s;
}

.botones {
  display: flex;
  justify-content: center;
  text-align: center;
}
.botones a {
  color: #171717;
  background-color: #cbae88;
  font-size: 16px;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
}
.botones a:hover {
  color: #FFF;
  transition: 0.2s;
}

.divbotones {
  display: inline-flex;
  margin: 20px;
}

.section-proyectos {
  display: flex;
  background-color: #2a2929;
  width: auto;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 120px;
  border-radius: 15px;
  padding: 10px 10px;
  justify-content: space-around;
}

#contenido-proyecto {
  height: auto;
}

.tituloh1 {
  width: auto;
  font-size: 30px;
  color: #F6E3CA;
  padding: 20px 20px;
  text-align: center;
  margin-top: 3rem;
  margin-right: 0px;
  margin-bottom: 3rem;
}

.proyectos {
  width: 80vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  margin-left: 40px;
}
.proyectos__box {
  padding: 20px 20px;
  background-color: #171717;
  border: transparent;
  border-radius: 18px;
  text-align: justify;
  color: #F6E3CA;
  width: 35vw;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2.5rem;
  margin-right: 3rem;
}

.boximg {
  margin-top: 20%;
  width: 300px;
  overflow: clip;
  border: 2px solid #D7C8B6;
  border-radius: 18px;
}

.box-text--proyecto {
  text-align: left;
  margin-left: 0.8rem;
}

.box-text {
  text-align: left;
  margin-right: 2.5rem;
}
.box-text__paragraph {
  color: #cbae88;
}

.Ver {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ver_text {
  color: #D7C8B6;
  text-decoration: none;
  border: 2px solid #cbae88;
  border-radius: 20px;
  padding: 10px;
}
.Ver_text:hover {
  background-color: #cbae88;
  color: #171717;
}

/*# sourceMappingURL=style.css.map */
