* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #171717;
  font-family: "Poppins", sans-serif;
}

@keyframes desplazamiento {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes caida {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.navbar {
  background-color: #2a2929;
}
.navbar-brand {
  color: #cbae88;
  font-size: 1.6rem;
}
.navbar-brand:hover {
  color: #FFF;
  transition: 0.2s;
}
.navbar-toggler {
  color: #cbae88;
  width: 70px;
  border: none !important;
}
.navbar.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-link {
  color: #cbae88;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #fff;
  transition: 0.2s;
}

.footer {
  position: fixed;
  bottom: 0px;
  background-color: #2a2929;
  padding: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
.footer__list {
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  gap: 40px;
  font-size: 1.125rem;
  margin-top: 20px;
  margin-right: 40px;
}
.footer__list a {
  color: #D7C8B6;
}
.footer__list a:hover {
  color: #FFF;
  transition: 0.3s;
}
.footer .footer__Licencia {
  color: #D7C8B6;
  font-size: 0.625rem;
  padding: 10px;
  margin-left: 20px;
}

@media (max-width: 415px) {
  .footer {
    position: relative;
  }
}
@media only screen and (min-width: 416px) and (max-width: 769px) {
  .footer {
    position: relative;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .footer {
    position: relative;
  }
}
@media only screen and (min-width: 1360px) and (max-width: 1800px) {
  .footer {
    position: relative;
  }
}
.inicio {
  display: flex;
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  padding: 10px 10px;
  justify-content: space-around;
}
.inicio__contenido h1 {
  font-size: 3rem;
  color: #cbae88;
  text-align: start;
  margin-top: 80px;
  animation: caida 1s ease-in-out;
}
.inicio__h1edit {
  color: #D7C8B6;
  font-style: bold;
  animation: caida 1s ease-in-out;
}
.inicio__contenido h2 {
  font-size: 2rem;
  color: #F6E3CA;
  margin-top: 100px;
  animation: caida 2s ease-in-out;
}
.inicio__compu {
  display: flex;
  background-color: #F6E3CA;
  border-radius: 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.inicio__compu img {
  width: auto;
  border-radius: 100px;
  padding: 10px;
  animation: aparecer 1s ease-out;
}
.inicio__compu img:hover {
  filter: brightness(0.5);
  transition: 1s;
}

@media (max-width: 415px) {
  .inicio {
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  .inicio__contenido {
    width: 90%;
  }
  .inicio__contenido h1 {
    width: 95%;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
  }
  .inicio__contenido h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .inicio__compu {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 3px;
    width: 350px;
    height: 225px;
    border-radius: 100px;
  }
  .inicio__compu img {
    width: 350px;
    height: fit-content;
    border-radius: 100px;
  }
}
@media only screen and (min-width: 416px) and (max-width: 769px) {
  .inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inicio__contenido {
    width: 90%;
  }
  .inicio__contenido h1 {
    width: 95%;
    font-size: 2.3rem;
    text-align: center;
    margin-left: 5px;
  }
  .inicio__contenido h2 {
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
  }
  .inicio__compu {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 3px;
  }
  .inicio__compu img {
    width: 350px;
    height: cover;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .inicio__contenido {
    width: 90%;
  }
  .inicio__contenido h1 {
    width: 95%;
    font-size: 2.3rem;
    text-align: center;
    margin-left: 5px;
  }
  .inicio__contenido h2 {
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
  }
  .inicio__compu {
    margin-bottom: 200px;
  }
}
.sobremi {
  display: flex;
  background-color: #2a2929;
  width: auto;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 120px;
  border-radius: 15px;
  padding: 10px 10px;
  justify-content: space-around;
  animation: caida 2s ease-in-out;
}
.sobremi__texto h1 {
  width: auto;
  text-align: center;
  font-size: 25px;
  color: #cbae88;
  padding: 20px 20px;
  animation: caida 3s ease-in-out;
}
.sobremi__texto h2 {
  width: auto;
  text-align: center;
  font-size: 25px;
  color: #cbae88;
  padding: 20px 20px;
  animation: caida 3s ease-in-out;
}
.sobremi__texto p {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  color: #D7C8B6;
  padding: 20px 20px;
  border-radius: 15px;
  background-color: #171717;
  text-align: justify;
}
.sobremi__fondoimagen {
  background-color: #171717;
  border-radius: 18px;
}
.sobremi__fondoimagen img {
  width: auto;
  margin: auto;
  margin-left: 20px;
  border-radius: 30px;
  filter: brightness(0.8);
}
.sobremi__fondoimagen:hover {
  filter: brightness(0.5);
  transition: 1s;
}

.botones {
  display: flex;
  justify-content: center;
  text-align: center;
}
.botones a {
  color: #171717;
  background-color: #cbae88;
  font-size: 16px;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
}
.botones a:hover {
  color: #FFF;
  transition: 0.2s;
  animation: latido 1s infinite;
}

.divbotones {
  display: inline-flex;
  margin: 20px;
}

@media (max-width: 415px) {
  .sobremi {
    display: grid;
    grid-template-rows: auto;
    height: auto;
    width: auto;
    gap: 30px;
  }
  .sobremi__texto {
    justify-content: center;
    align-items: center;
  }
  .sobremi__texto p {
    width: auto;
    height: auto;
    margin-left: 19px;
    margin-top: 20px;
    font-size: 14px;
    color: #D7C8B6;
    padding: 10px 10px;
  }
  .sobremi__fondoimagen {
    width: 90%;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .sobremi__fondoimagen img {
    width: 90%;
    left: 20px;
  }
  .botones {
    display: block;
    width: auto;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 416px) and (max-width: 769px) {
  .sobremi {
    display: grid;
    grid-template-rows: auto;
    height: auto;
    width: auto;
    gap: 30px;
  }
  .sobremi__texto {
    justify-content: center;
    align-items: center;
  }
  .sobremi__texto p {
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #D7C8B6;
    padding: 10px 10px;
  }
  .sobremi__fondoimagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .sobremi__fondoimagen img {
    width: 90%;
    margin-right: 15px;
  }
  .botones {
    display: flex;
    width: auto;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .sobremi {
    display: grid;
    grid-template-rows: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    gap: 30px;
  }
  .sobremi__texto {
    justify-content: center;
    align-items: center;
  }
  .sobremi__texto p {
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #D7C8B6;
    padding: 10px 10px;
  }
  .sobremi__fondoimagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .sobremi__fondoimagen img {
    width: 90%;
    margin-right: 15px;
  }
  .botones {
    display: flex;
    width: auto;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1360px) and (max-width: 1800px) {
  .footer {
    position: fixed;
    bottom: 0px;
    background-color: #2a2929;
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }
}
.section-proyectos {
  display: flex;
  background-color: #2a2929;
  width: auto;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 120px;
  border-radius: 15px;
  padding: 10px 10px;
  justify-content: space-around;
}

#contenido-proyecto {
  height: auto;
}

.tituloh1 {
  width: auto;
  font-size: 30px;
  color: #F6E3CA;
  padding: 20px 20px;
  text-align: center;
  margin-top: 3rem;
  margin-right: 0px;
  margin-bottom: 3rem;
  animation: caida 2s ease-in-out;
}

.proyectos__box,
.boximgP,
.box-text--proyecto,
.Ver {
  animation: caida 2s ease-in-out;
}

.proyectos {
  width: 80vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  margin-left: 40px;
}

.proyectos__box {
  padding: 20px 20px;
  background-color: #171717;
  border: transparent;
  border-radius: 18px;
  text-align: justify;
  color: #F6E3CA;
  width: 35vw;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2.5rem;
  margin-right: 3rem;
}

.boximgP {
  width: 300px;
  border-radius: 18px;
}

.box-text--proyecto {
  text-align: left;
  margin-left: 0.8rem;
}

.Ver {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ver_text {
  color: #D7C8B6;
  text-decoration: none;
  border: 2px solid #cbae88;
  border-radius: 20px;
  padding: 10px;
}

.Ver_text:hover {
  background-color: #cbae88;
  color: #171717;
  animation: latido 1s infinite;
}

@media (max-width: 415px) {
  .section-proyectos {
    width: auto;
    margin: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #contenido-proyecto {
    height: auto;
  }
  .proyectos {
    width: auto;
    margin: 20px;
    gap: 40px;
  }
  .boximgP {
    width: 300px;
    border-radius: 18px;
  }
  .Ver {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Ver_text {
    color: #D7C8B6;
    text-decoration: none;
    border: 2px solid #cbae88;
    border-radius: 20px;
    padding: 10px;
  }
  .Ver:hover {
    background-color: #cbae88;
    color: #171717;
  }
}
@media only screen and (min-width: 416px) and (max-width: 769px) {
  .section-proyectos {
    width: auto;
    height: fit-content;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #contenido-proyecto {
    height: auto;
  }
  .proyectos {
    width: auto;
    margin: 20px;
    gap: 40px;
  }
  .Ver {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Ver_text {
    color: #D7C8B6;
    text-decoration: none;
    border: 2px solid #cbae88;
    border-radius: 20px;
    padding: 10px;
  }
  .Ver:hover {
    background-color: #cbae88;
    color: #171717;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .section-proyectos {
    width: auto;
    height: fit-content;
    margin: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #contenido-proyecto {
    height: auto;
  }
  .proyectos {
    width: auto;
    margin: 20px;
    gap: 40px;
  }
  .Ver {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Ver_text {
    color: #D7C8B6;
    text-decoration: none;
    border: 2px solid #cbae88;
    border-radius: 20px;
    padding: 10px;
  }
  .Ver:hover {
    background-color: #cbae88;
    color: #171717;
  }
}
@media only screen and (min-width: 1360px) and (max-width: 1800px) {
  .section-proyectos {
    width: auto;
    height: fit-content;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #contenido-proyecto {
    height: auto;
  }
  .proyectos {
    width: auto;
    margin: 20px;
    gap: 40px;
  }
  .Ver {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Ver_text {
    color: #D7C8B6;
    text-decoration: none;
    border: 2px solid #cbae88;
    border-radius: 20px;
    padding: 10px;
  }
  .Ver_text:hover {
    background-color: #cbae88;
    color: #171717;
  }
}
.section-servicios {
  display: flex;
  background-color: #2a2929;
  width: auto;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 120px;
  border-radius: 15px;
  padding: 10px 10px;
  justify-content: space-around;
}

#contenido-servicios {
  height: auto;
}

.boximgS {
  width: 300px;
  overflow: clip;
}

@media (max-width: 415px) {
  .section-servicios {
    width: auto;
    height: auto;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .proyectos {
    margin: 0;
    gap: 40px;
  }
  .proyectos__box {
    display: grid;
    width: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .proyectos .boximgS {
    width: 200px;
    border: none;
  }
  .proyectos .box-text {
    margin: auto;
    text-align: justify;
  }
  .proyectos .box-text__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #contenido-servicios {
    height: auto;
  }
}
@media only screen and (min-width: 416px) and (max-width: 769px) {
  .section-servicios {
    width: auto;
    height: auto;
    margin: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .proyectos {
    margin: 0;
    gap: 40px;
  }
  .proyectos__box {
    display: grid;
    width: auto;
    margin: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: auto;
  }
  .boximgS {
    width: 200px;
    border: none;
  }
  .box-text {
    margin: auto;
    text-align: justify;
  }
  .box-text__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #contenido-servicios {
    height: auto;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1360px) {
  .section-servicios {
    width: auto;
    height: auto;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #contenido-servicios {
    height: auto;
  }
  .proyectos {
    margin: 0;
    gap: 40px;
  }
  .proyectos__box {
    display: grid;
    width: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: auto;
  }
  .boximgS {
    width: 200px;
    border: none;
  }
  .box-text {
    margin: auto;
    text-align: justify;
  }
  .box-text__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1360px) and (max-width: 1800px) {
  #contenido-servicios {
    height: auto;
  }
  .section-servicios {
    width: auto;
    height: auto;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .proyectos {
    margin: 0;
    gap: 40px;
  }
  .proyectos__box {
    display: grid;
    width: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .box {
    width: auto;
  }
  .boximg {
    width: 200px;
    border: none;
  }
  .box-text {
    margin: auto;
    text-align: justify;
  }
  .box-text__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footer {
    position: relative;
  }
}
.contacto {
  width: 100%;
  height: auto;
  margin-top: 200px;
  animation: caida 2s ease-in-out;
  margin-bottom: 200px;
}
.contacto__contenido {
  display: grid;
  grid-template-rows: 2fr;
  width: 60%;
  gap: 120px;
  margin: auto;
}
.contacto__contenido h1 {
  font-size: 2rem;
  color: #cbae88;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-bottom: 200px;
  width: auto;
  height: auto;
  padding: 20px 100px;
  animation: caida 2s ease-in-out;
}
.form__caja {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2a2929;
  border-radius: 18px;
}

.left {
  height: 100%;
  width: 100%;
  border-radius: 18px 0px 0px 18px;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px 0px 0px 18px;
}

.right {
  padding: 25px 40px;
  border-radius: 18px;
}

.form__title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #F6E3CA;
}
.form__title__title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #fff;
}

.campo {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #D7C8B6;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.campo:hover {
  background-color: #fff;
}
.campo:focus {
  background-color: #fff;
  border: 2px solid #D7C8B6;
}

.area {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #cbae88;
  cursor: pointer;
  outline: none;
  border: none;
  color: #171717;
  animation: latido 3s infinite;
}

.btn:hover {
  background-color: #cbae88;
  color: #fff;
}

@media screen and (max-width: 880px) {
  .contacto {
    width: auto;
    height: auto;
    margin: 0px;
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .contacto__contenido {
    display: grid;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .contacto__contenido h1 {
    font-size: 1.7rem;
  }
  .form__caja {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
    border-radius: 18px 18px 0px 0px;
  }
  .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
