* {
    padding: 0;
    margin: 0;
    
}
body {
    margin: 0;
    background-color: #171717;
    font-family: 'Poppins', sans-serif;
}
    

@import "components/navbar";
@import "components/footer";

