


.inicio { 
    
    display: flex;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    padding: 10px 10px;
    justify-content: space-around;

    
      
      &__contenido h1 {
        font-size: 3rem;
        color: $color5;
        text-align: start;
        margin-top: 80px;
        animation: caida 1s ease-in-out;
      }
      

    &__h1edit {
        color: $color4;
        font-style: bold;
        animation: caida 1s ease-in-out
    }

    &__contenido h2 {
        font-size: 2rem;
        color: $color2;
        margin-top: 100px;
        animation: caida 2s ease-in-out
    }

    

        &__compu {
        display: flex;
        background-color: $color2;
        border-radius: 100px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        animation: aparecer 2.5s ease-out;
      }
      
      

        &__compu img {
        width: auto;
        border-radius: 100px;
        padding: 10px;
        animation: aparecer 2.5s ease-out;
    }
      

    &__compu img:hover {
        filter: brightness(.5);
        transition: 1s;
    }
}
@media (max-width: 415px) {

    .inicio {
        width:90%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center; 

    
        &__contenido {
            width: 90%;
        }
    
        &__contenido h1 {
            width: 95%;
            font-size: 2rem;
            text-align: center;
            display: inline-block; 
        }
        &__contenido h2 {
            font-size: 1.5rem;
            text-align: center;
        }
          
        &__compu {
            margin-top: 100px;
            margin-bottom: 200px;
            margin-right: 3px;
            width: 350px;
            height: 225px;
            border-radius: 100px;
            
          }
          
        &__compu img {
            width: 350px;
            height: fit-content;
            border-radius: 100px;
            
          }
    }
}

@media only screen and (min-width: 416px) and (max-width: 769px) {
    .inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__contenido {
            width: 90%;
            }
            
        &__contenido h1 {
            width: 95%;
            font-size: 2.3rem;
            text-align: center;
            margin-left: 5px;
            }

        &__contenido h2 {
            font-size: 1.8rem;
            text-align: center;
            justify-content: center;
        }

            
        &__compu {
            margin-top: 100px;
            margin-bottom: 200px;
            margin-right: 3px;
            animation: aparecer 1s ease-out;
        }
        &__compu img {
            width: 350px;
            height: cover;
            animation: aparecer 1s ease-out;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 1360px) {
    .inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    
        &__contenido {
            width: 90%;
        }
        &__contenido h1 {
            width: 95%;
            font-size: 2.3rem;
            text-align: center;
            margin-left: 5px;
        }
        &__contenido h2 {
            font-size: 1.8rem;
            text-align: center;
            justify-content: center;
        }
       
        &__compu {
            margin-bottom: 200px;
            animation: aparecer 1s ease-out;
        }
        &__compu img {
            animation: aparecer 1s ease-out;
         }
    }
}