
.footer {
    position:fixed;
    bottom: 0px;
    background-color: $color1;
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content:space-between;
    width: 100%;
    
    
    &__list {
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    gap: 40px;
    font-size: 1.125rem;
    margin-top: 20px;
    margin-right: 40px;

}
    &__list a {
    color: $color4;
}
    &__list a:hover {
    color: #FFF;
    transition: .3s;
}
.footer__Licencia {
    color: $color4;
    font-size: 0.625rem;
    padding: 10px;
    margin-left: 20px;
    }
}

@media (max-width: 415px) {

    .footer {
            position:relative;
        }
    }
@media only screen and (min-width: 416px) and (max-width: 769px) {
    
    .footer {
            position:relative;
        }
    }
@media only screen and (min-width: 769px) and (max-width: 1360px) {
    .footer {
            position:relative;
        }
    }
@media only screen and (min-width: 1360px) and (max-width: 1800px) {
    .footer {
            position:relative;
                    }
    }