
.navbar { 
    background-color: $color1; 


    &-brand {
        color: $color5;
        font-size: 1.6rem;
    }
    &-brand:hover {
        color: #FFF;
        transition: .2s;
    }
    &-toggler {
        color: $color5;
        width: 70px;
        border: none !important; 
    }
    &.navbar-toggler:focus {
        box-shadow: none !important;
    }
}
.nav-link {
    color: $color5;
    font-size: 1.1rem;
}
.nav-link:hover  {
    color: #fff;
    transition: .2s;
}